<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Currency</th>
      <th>Price</th>
      <th>Stripe Product Id</th>
      <th>Stripe Price Id</th>
      <th>Stripe Currency</th>
      <th>Stripe Price</th>
      <th>Shopping cart</th>
      <th>Sales count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.currency %></td>
        <td><%= product.price_cents %></td>
        <td><%= product.stripe_product_id %></td>
        <td><%= product.stripe_price_id %></td>
        <td><%= Stripe::Price.retrieve(product.stripe_price_id)&.currency %></td>
        <td><%= Stripe::Price.retrieve(product.stripe_price_id)&.unit_amount/100 %></td>
        <td>
          <% if @cart.include?(product) %>
            <%= button_to "Remove from cart", remove_from_cart_path(product), method: :delete %>
          <% else %>
            <%= button_to "Add to cart", add_to_cart_path(product) %>
          <% end %>
        </td>
        <td><%= product.sales_count %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
<hr>
