<!DOCTYPE html>
<html>
  <head>
    <title>Shoplify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice" style="background-color: green;"><%= notice %></p>
    <p class="alert" style="background-color: red;"><%= alert %></p>
    <%= link_to "Products", products_path %>
    <%= link_to "Github", "https://github.com/yshmarov/shoplify", target: "_blank" %>
    <% if current_user %>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <%= current_user.stripe_customer_id %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
    <hr>
    <h1>Shopping cart</h1>
    <hr>
    <% @cart.each do |product| %>
      <%= product.name %>
      <br>
    <% end %>
    <% if @cart.present? %>
      <%= @cart.collect { |item| item.to_builder.attributes! } %>
      <%= button_to "Buy now!", checkout_create_path, remote: true, data: { disable_with: "validating..."} %>
    <% end %>
    <hr>
    <%= yield %>
  </body>
</html>
